<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>crates</string>
	<key>version</key>
	<string>0.2.1</string>
	<key>description</key>
	<string>Search for Rust crates.</string>
	<key>bundleid</key>
	<string>io.macarthur.ross.crates</string>
	<key>createdby</key>
	<string>Ross MacArthur</string>
	<key>connections</key>
	<dict>
		<key>6D932454-F130-4AC9-B3E1-53BEE5578D22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D23842F2-2271-4DAE-AC91-FD8FFA716ADB</string>
			</dict>
		</array>
	</dict>
	<key>uidata</key>
	<dict>
		<key>6D932454-F130-4AC9-B3E1-53BEE5578D22</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D23842F2-2271-4DAE-AC91-FD8FFA716ADB</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>objects</key>
	<array>
		<dict>
			<key>uid</key>
			<string>D23842F2-2271-4DAE-AC91-FD8FFA716ADB</string>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>version</key>
			<integer>1</integer>
			<key>config</key>
			<dict>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>uid</key>
			<string>6D932454-F130-4AC9-B3E1-53BEE5578D22</string>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>crate</string>
				<key>withspace</key>
				<true />
				<key>argumenttype</key>
				<integer>1</integer>
				<key>title</key>
				<string>Search for crates</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>type</key>
				<integer>8</integer>
				<key>scriptfile</key>
				<string>crates-alfred-workflow</string>
				<key>queuemode</key>
				<integer>2</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true />
				<key>argumenttreatemptyqueryasnil</key>
				<true />
			</dict>
		</dict>
	</array>
</dict>
</plist>
